<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Language</label>
		<select class="form-control custom-toggle" data-name="name">
			<option value="custom" {{selected name "custom"}}>Пользовательский</option>
			<option value="all" {{selectedDefault name "all"}}>Все</option>
			<option value="abyssal" {{selected name "abyssal"}}>Бездны</option>
			<option value="aquan" {{selected name "aquan"}}>Акван</option>
			<option value="auran" {{selected name "auran"}}>Ауран</option>
			<option value="celestial" {{selected name "celestial"}}>Небесный</option>
			<option value="common" {{selected name "common"}}>Общий</option>
			<option value="deep speech" {{selected name "deep speech"}}>Глубинная речь</option>
			<option value="draconic" {{selected name "draconic"}}>Драконический</option>
			<option value="druidic" {{selected name "druidic"}}>Друидический</option>
			<option value="dwarvish" {{selected name "dwarvish"}}>Дварфийский</option>
			<option value="elvish" {{selected name "elvish"}}>Эльфийский</option>
			<option value="giant" {{selected name "giant"}}>Великаний</option>
			<option value="gnomish" {{selected name "gnomish"}}>Гномий</option>
			<option value="goblin" {{selected name "goblin"}}>Гоблинский</option>
			<option value="gnoll" {{selected name "gnoll"}}>Гнолльский</option>
			<option value="halfling" {{selected name "halfling"}}>Халфлингский</option>
			<option value="ignan" {{selected name "ignan"}}>Игнан</option>
			<option value="infernal" {{selected name "infernal"}}>Инфернальный</option>
			<option value="orc" {{selected name "orc"}}>Орочий</option>
			<option value="primordial" {{selected name "primordial"}}>Первостихийный</option>
			<option value="sylvan" {{selected name "sylvan"}}>Сильван</option>
			<option value="terran" {{selected name "terran"}}>Терран</option>
			<option value="undercommon" {{selected name "undercommon"}}>Подземный общий</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle name}}}>
		<label>Name</label>
		<input type="text" class="form-control" data-name="custom" {{{setValue custom}}}>
	</div>
</div>
