<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Урон</label>
		<select class="form-control custom-toggle" data-name="type">
			<option value="custom" {{selected type "custom"}}>Пользовательский</option>
			<option value="acid" {{selectedDefault type "acid"}}>Кислота</option>
			<option value="bludgeoning" {{selected type "bludgeoning"}}>Дробящий</option>
			<option value="cold" {{selected type "cold"}}>Холод</option>
			<option value="fire" {{selected type "fire"}}>Огонь</option>
			<option value="force" {{selected type "force"}}>Силовой</option>
			<option value="lightning" {{selected type "lightning"}}>Молния</option>
			<option value="necrotic" {{selected type "necrotic"}}>Некротический</option>
			<option value="piercing" {{selected type "piercing"}}>Колющий</option>
			<option value="poison" {{selected type "poison"}}>Яд</option>
			<option value="psychic" {{selected type "psychic"}}>Психический</option>
			<option value="radiant" {{selected type "radiant"}}>Лучистый</option>
			<option value="slashing" {{selected type "slashing"}}>Режущий</option>
			<option value="thunder" {{selected type "thunder"}}>Гром</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle type}}}>
		<label>Type</label>
		<input type="text" class="form-control" data-name="custom" {{{setValue custom}}}>
	</div>
</div>
