<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Характеристика</label>
		<select class="form-control" data-name="ability">
			<option value="str" {{selectedDefault ability "str"}}>Сила</option>
			<option value="dex" {{selected ability "dex"}}>Ловкость</option>
			<option value="con" {{selected ability "con"}}>Телосложение</option>
			<option value="int" {{selected ability "int"}}>Интеллект</option>
			<option value="wis" {{selected ability "wis"}}>Мудрость</option>
			<option value="cha" {{selected ability "cha"}}>Харизма</option>
		</select>
	</div>
</div>
