<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Язык</label>
		<select class="form-control custom-toggle" data-name="name">
			<option value="custom" {{selected name "custom"}}>Пользовательский</option>
			<option value="Все" {{selectedDefault name "Все"}}>Все</option>
			<option value="Бездны" {{selected name "Бездны"}}>Бездны</option>
			<option value="Акван" {{selected name "Акван"}}>Акван</option>
			<option value="Ауран" {{selected name "Ауран"}}>Ауран</option>
			<option value="Небесный" {{selected name "Небесный"}}>Небесный</option>
			<option value="Общий" {{selected name "Общий"}}>Общий</option>
			<option value="Глубинная речь" {{selected name "Глубинная речь"}}>Глубинная речь</option>
			<option value="Драконический" {{selected name "Драконический"}}>Драконический</option>
			<option value="Друидический" {{selected name "Друидический"}}>Друидический</option>
			<option value="Дварфийский" {{selected name "Дварфийский"}}>Дварфийский</option>
			<option value="Эльфийский" {{selected name "Эльфийский"}}>Эльфийский</option>
			<option value="Великаний" {{selected name "Великаний"}}>Великаний</option>
			<option value="Гномий" {{selected name "Гномий"}}>Гномий</option>
			<option value="Гоблинский" {{selected name "Гоблинский"}}>Гоблинский</option>
			<option value="Гнолльский" {{selected name "Гнолльский"}}>Гнолльский</option>
			<option value="Халфлингский" {{selected name "Халфлингский"}}>Халфлингский</option>
			<option value="Игнан" {{selected name "Игнан"}}>Игнан</option>
			<option value="Инфернальный" {{selected name "Инфернальный"}}>Инфернальный</option>
			<option value="Орочий" {{selected name "Орочий"}}>Орочий</option>
			<option value="Первостихийный" {{selected name "Первостихийный"}}>Первостихийный</option>
			<option value="Сильван" {{selected name "Сильван"}}>Сильван</option>
			<option value="Терран" {{selected name "Терран"}}>Терран</option>
			<option value="Подземный общий" {{selected name "Подземный общий"}}>Подземный общий</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle name}}}>
		<label>Название</label>
		<input type="text" class="form-control" data-name="custom" {{{setValue custom}}}>
	</div>
</div>
