<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Навык</label>
		<select class="form-control custom-toggle" data-name="name">
			<option value="custom" {{selected name "custom"}}>Пользовательский</option>
			<option value="acrobatics" {{selectedDefault name "acrobatics"}}>Акробатика</option>
			<option value="animal handling" {{selected name "animal handling"}}>Animal Handling</option>
			<option value="arcana" {{selected name "arcana"}}>Магия</option>
			<option value="athletics" {{selected name "athletics"}}>Атлетика</option>
			<option value="deception" {{selected name "deception"}}>Обман</option>
			<option value="history" {{selected name "history"}}>История</option>
			<option value="insight" {{selected name "insight"}}>Проницательность</option>
			<option value="intimidation" {{selected name "intimidation"}}>Устрашение</option>
			<option value="investigation" {{selected name "investigation"}}>Анализ</option>
			<option value="medicine" {{selected name "medicine"}}>Медицина</option>
			<option value="nature" {{selected name "nature"}}>Природа</option>
			<option value="perception" {{selected name "perception"}}>Восприятие</option>
			<option value="performance" {{selected name "performance"}}>Выступление</option>
			<option value="persuasion" {{selected name "persuasion"}}>Убеждение</option>
			<option value="religion" {{selected name "religion"}}>Религия</option>
			<option value="sleight of hand" {{selected name "sleight of hand"}}>Ловкость рук</option>
			<option value="stealth" {{selected name "stealth"}}>Скрытность</option>
			<option value="survival" {{selected name "survival"}}>Выживание</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle name}}}>
		<label>Название</label>
		<input type="text" class="form-control" data-name="custom.name" {{{setValue custom.name}}}>
	</div>
	<div class="form-group custom" {{{customToggle name}}}>
		<label>Характеристика</label>
		<select class="form-control" data-name="custom.ability">
			<option value="str" {{selectedDefault custom.ability "str"}}>Сила</option>
			<option value="dex" {{selected custom.ability "dex"}}>Ловкость</option>
			<option value="con" {{selected custom.ability "con"}}>Телосложение</option>
			<option value="int" {{selected custom.ability "int"}}>Интеллект</option>
			<option value="wis" {{selected custom.ability "wis"}}>Мудрость</option>
			<option value="cha" {{selected custom.ability "cha"}}>Харизма</option>
		</select>
	</div>
	<div class="form-group">
		<label>Владение навыком</label>
		<select class="form-control" data-name="proficiency">
			<option value="proficient" {{selectedDefault proficiency "proficient"}}>Владение</option>
			<option value="expertise" {{selected proficiency "expertise"}}>Экспертиза</option>
		</select>
	</div>
</div>
