<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Состояние</label>
		<select class="form-control custom-toggle" data-name="type">
			<option value="custom" {{selected type "custom"}}>Пользовательское</option>
			<option value="blinded" {{selectedDefault type "blinded"}}>Ослеплённое</option>
			<option value="charmed" {{selected type "charmed"}}>Обворожённое</option>
			<option value="deafened" {{selected type "deafened"}}>Оглохшее</option>
			<option value="exhaustion" {{selected type "exhaustion"}}>Истощение</option>
			<option value="fatigued" {{selected type "fatigued"}}>Уставшее</option>
			<option value="frightened" {{selected type "frightened"}}>Испуганное</option>
			<option value="grappled" {{selected type "grappled"}}>Схваченное</option>
			<option value="incapacitated" {{selected type "incapacitated"}}>Недееспособное</option>
			<option value="invisible" {{selected type "invisible"}}>Невидимое</option>
			<option value="paralyzed" {{selected type "paralyzed"}}>Парализованное</option>
			<option value="petrified" {{selected type "petrified"}}>Окаменевшее</option>
			<option value="poisoned" {{selected type "poisoned"}}>Отравленное</option>
			<option value="prone" {{selected type "prone"}}>Распластанное (сбито с ног)</option>
			<option value="restrained" {{selected type "restrained"}}>Обездвиженное (опутанное)</option>
			<option value="stunned" {{selected type "stunned"}}>Оглушенное</option>
			<option value="unconscious" {{selected type "unconscious"}}>Без сознания</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle type}}}>
		<label>Название</label>
		<input type="text" class="form-control" data-name="custom" {{{setValue custom}}}>
	</div>
</div>
