<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Состояние</label>
		<select class="form-control custom-toggle" data-name="type">
			<option value="custom" {{selected type "custom"}}>Пользовательское</option>
			<option value="Ослеплённое" {{selectedDefault type "Ослеплённое"}}>Ослеплённое</option>
			<option value="Обворожённое" {{selected type "Обворожённое"}}>Обворожённое</option>
			<option value="Оглохшее" {{selected type "Оглохшее"}}>Оглохшее</option>
			<option value="Истощение" {{selected type "Истощение"}}>Истощение</option>
			<option value="Уставшее" {{selected type "Уставшее"}}>Уставшее</option>
			<option value="Испуганное" {{selected type "Испуганное"}}>Испуганное</option>
			<option value="Схваченное" {{selected type "Схваченное"}}>Схваченное</option>
			<option value="Недееспособное" {{selected type "Недееспособное"}}>Недееспособное</option>
			<option value="Невидимое" {{selected type "Невидимое"}}>Невидимое</option>
			<option value="Парализованное" {{selected type "Парализованное"}}>Парализованное</option>
			<option value="Окаменевшее" {{selected type "Окаменевшее"}}>Окаменевшее</option>
			<option value="Отравленное" {{selected type "Отравленное"}}>Отравленное</option>
			<option value="Распластанное (сбито с ног)" {{selected type "Распластанное (сбито с ног)"}}>Распластанное (сбито с ног)</option>
			<option value="Обездвиженное (опутанное)" {{selected type "Обездвиженное (опутанное)"}}>Обездвиженное (опутанное)</option>
			<option value="Оглушенное" {{selected type "Оглушенное"}}>Оглушенное</option>
			<option value="Без сознания" {{selected type "Без сознания"}}>Без сознания</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle type}}}>
		<label>Название</label>
		<input type="text" class="form-control" data-name="custom" {{{setValue custom}}}>
	</div>
</div>
